{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/sectionsp1.js') }}"></script>
{% endblock %}

{% block form %}
<form class="needs-validation row g-4" method=post novalidate>
	{{ form.csrf_token }}

	<!-- Progress Bar -->
	<div class="col-12">
		<div class="progress" style="height: 6px;">
			<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10"></div>
		</div>
	</div>

	<fieldset class="col-12 my-2">
		<legend class="col-form-label">¿La empresa cuenta con algún software o sistema de información?</legend>

		{{ render_checkbox(form.software_for_sales) }}
		<div class="border rounded bg-body px-4 py-2 small mx-4 mb-3 mt-1" id="software_for_sales_container">
			<div class="row">
				{{ render_input(form.software_for_sales_name, container="col-md-6") }}
				{{ render_radio(form.software_for_sales_rate, container="col-md-3 col-sm-6") }}
				{{ render_radio(form.software_for_sales_adquisition, container="col-md-3 col-sm-6") }}
			</div>
		</div>

		{{ render_checkbox(form.software_for_production) }}
		<div class="border rounded bg-body px-4 py-2 small mx-4 mb-3 mt-1" id="software_for_production_container">
			<div class="row">
				{{ render_input(form.software_for_production_name, container="col-md-6") }}
				{{ render_radio(form.software_for_production_rate, container="col-md-3 col-sm-6") }}
				{{ render_radio(form.software_for_production_adquisition, container="col-md-3 col-sm-6") }}
			</div>
		</div>
		{{ render_checkbox(form.not_software_but_needed) }}
		<div class="col-12">
			<div class="form-check">
				{% if form.not_software_needed.errors %}
					{{ form.not_software_needed(class="form-check-input is-invalid")|safe }}
				{% else %}
					{{ form.not_software_needed(class="form-check-input")|safe }}
				{% endif %}
				{{ form.not_software_needed.label(class="form-check-label") }}
				{% if form.not_software_needed.flags.one_required %}
					<div class="invalid-feedback">
						Seleccione al menos una opción.
					</div>
				{% endif %}
			</div>
		</div>

	</fieldset>
	
	{{ render_radio(form.automation_level) }}
	{% if form.automation_level.errors %} 
	<div class="invalid-feedback d-block mx-4 mt-1">
		Seleccione al menos una opción.
	</div>
	{% endif %}

	<fieldset class="col-12 mt-4">
		<legend class="col-form-label">¿Cuenta su planta con algún tipo de certificación o estándar?</legend>

		{{ render_checkbox(form.no_cert) }}

		{{ render_checkbox(form.authority_cert) }}
		<div class="row" id="authority_cert_container">
			<div class="col-auto">
				<div class="border rounded bg-body py-2 px-4 small mx-4 mb-3 mt-1">
					<div class="row g-2">
						{{ render_input(form.authority_cert_start_date, container="col-sm-auto") }}
						{{ render_input(form.authority_cert_end_date, container="col-sm-auto") }}
					</div>
				</div>
			</div>
		</div>

		{{ render_checkbox(form.gmp_cert) }}
		<div class="row" id="gmp_cert_container">
			<div class="col-auto">
				<div class="border rounded bg-body py-2 px-4 small mx-4 mb-3 mt-1">
					<div class="row g-2">
						{{ render_input(form.gmp_cert_start_date, container="col-sm-auto") }}
						{{ render_input(form.gmp_cert_end_date, container="col-sm-auto") }}
					</div>
				</div>
			</div>
		</div>

		<div class="row" disabled>
			{{ render_checkbox(form.haccp_cert) }}
			<div class="col-auto" id="haccp_cert_container">
				<div class="border rounded bg-body py-2 px-4 small mx-4 mb-3 mt-1">
					<div class="row g-2">
						{{ render_input(form.haccp_cert_start_date, container="col-sm-auto") }}
						{{ render_input(form.haccp_cert_end_date, container="col-sm-auto") }}
					</div>
				</div>
			</div>
		</div>

		{{ render_checkbox(form.fssc22000_cert) }}
		<div class="row" id="fssc22000_cert_container">
			<div class="col-auto">
				<div class="border rounded bg-body py-2 px-4 small mx-4 mb-3 mt-1">
					<div class="row g-2">
						{{ render_input(form.fssc22000_cert_start_date, container="col-sm-auto") }}
						{{ render_input(form.fssc22000_cert_end_date, container="col-sm-auto") }}
					</div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="form-check">
				{% if form.global_gap_cert.errors %}
					{{ form.global_gap_cert(class="form-check-input is-invalid")|safe }}
				{% else %}
					{{ form.global_gap_cert(class="form-check-input")|safe }}
				{% endif %}
				{{ form.global_gap_cert.label(class="form-check-label") }}
				{% if form.global_gap_cert.flags.one_required %}
					<div class="invalid-feedback">
						Seleccione al menos una opción.
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row" id="global_gap_cert_container">
			<div class="col-auto">
				<div class="border rounded bg-body py-2 px-4 small mx-4 mb-3 mt-1">
					<div class="row g-2">
						{{ render_input(form.global_gap_cert_start_date, container="col-sm-auto") }}
						{{ render_input(form.global_gap_cert_end_date, container="col-sm-auto") }}
					</div>
				</div>
			</div>
		</div>

	</fieldset>

	{{ render_buttons('blueprints.section7') }}
</form>
{% endblock %}